.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 20px;
  @media only screen and (min-width: $breakpoint-md) {
    padding-bottom: 10px;
  }
}

.header__bg {
  background-color: $color-dark-gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.1s linear;
  @media only screen and (min-width: $breakpoint-md) {
    background-color: $color-white;
    .header--inverted & {
      background-color: $color-dark-gray;
    }
  }
}

.header__main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  @media only screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.header__title {
  margin: 0;
  @media only screen and (min-width: $breakpoint-md) {
    margin-right: 50px;
  }
}

.header__logo {
  display: inline-block;
  width: 125px;
  height: 23px;
  @media only screen and (min-width: $breakpoint-md) {
    display: block;
    position: relative;
    bottom: -11px;
    width: 276px;
    height: 51px;
  }
}

.header__logo-path {
  fill: $color-aqua;
  transition: fill 0.5s linear;
  @media only screen and (min-width: $breakpoint-md) {
    fill: $color-dark-gray;
    .header--inverted & {
      fill: $color-aqua;
    }
  }
}

.header__byline {
  color: $color-cherry;
  position: relative;
  top: -6px;
  @media only screen and (min-width: $breakpoint-md) {
    position: static;
    margin-top: 20px;
    font-weight: bold;
  }
  .header--inverted & {
    font-weight: normal;
  }
}

.header__byline-menu {
  @media only screen and (min-width: $breakpoint-md) {
    display: none;
    .header--inverted & {
      display: block;
    }
  }
}

.header__byline-label {
  display: none;
  @media only screen and (min-width: $breakpoint-md) {
    display: block;
    .header--inverted & {
      display: none;
    }
  }
}
