.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.1s linear;
  .header--inverted & {
    background-color: $color-dark-gray;
  }
}

.header__main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  @media only screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }
}

.header__title {
  margin: 0 50px 0 0;
}

.header__logo {
  display: block;
  position: relative;
  bottom: -11px;
}
.header__logo-path {
  fill: $color-dark-gray;
  transition: fill 0.5s linear;
  .header--inverted & {
    fill: $color-aqua;
  }
}

.header__byline {
  color: $color-cherry;
  font-weight: bold;
  margin-top: 20px;
  .header--inverted & {
    font-weight: normal;
  }
}
