.mobile-anim {
  width: 40%;
  padding-bottom: 69%;
  max-width: 300px;
  max-height: 510px;
  height: 0;
  position: relative;
  opacity: 0;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.mobile-anim--loading {
  opacity: 1;
}

.mobile-anim__bitmap {
  position: absolute;
  top: -3px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.mobile-anim__svg {
  position: absolute;
  top: 0;
  z-index: 1;
  transition: opacity 0.5s linear;
  width: 100%;
  height: auto;
}

.mobile-anim--loaded .mobile-anim__svg {
  opacity: 0;
}

.mobile-anim--loaded .mobile-anim__bitmap {
  opacity: 1;
}
