.article {
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.6;
}

.article__image {
  @media only screen and (min-width: $breakpoint-md) {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}

.article__image--small {
  width: 50%;
}
.article {
  img {
    @media only screen and (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  blockquote {
    font-style: italic;
    position: relative;
    margin: 20px 0;
    padding-left: 40px;
    &:before {
      content: '“';
      display: block;
      font-size: 5rem;
      position: absolute;
      left: -15px;
      top: 0;
      line-height: 1;
      color: $color-mid-gray;
    }
  }
  li {
    margin-bottom: 10px;
  }
}

.article__image--full-width {
  float: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
