%icon {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  text-indent: -10rem;
  overflow: hidden;
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

@mixin icon-content($name) {
  @extend %icon;
  background-image: url(/public/svg/#{$name}.svg);
}

$icons: cv envelope github globe linkedin phone pin chevron-left-blue chevron-right-blue;

@each $icon in $icons {
  .icon-#{$icon} {
    @include icon-content($icon);
  }
}

.icon--sm {
  width: 14px;
  height: 14px;
}

.icon-text {
  display: inline;
  position: relative;
  padding-left: 20px;
  &.icon-text--lg {
    padding-left: 60px;
  }
  > i {
    position: absolute;
    padding: 0;
    border: 0;
    left: 0;
    top: 0.5em;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
  }
}

.icon-text--sm > i {
  width: 16px;
  height: 16px;
}

.icon-text--lg > i {
  width: 40px;
  height: 40px;
}
