
.container {
  overflow: hidden;
}

.views {
  white-space: nowrap;
  width: 400%;
}

.view {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 25%;
}

$sections: home articles about;

@each $section in $sections {
  $i: index($sections, $section) - 1;
  [data-view="#{$section}"] .views {
    animation-name: $section;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes #{$section} {
    100% {
      transform: translateX(-$i * 25%);
    }
  }

}



