
.views {
  overflow: hidden;
}

.views__inner {
  white-space: nowrap;
  width: 300%;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}

.view {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: (100% / 3);
}
