
.container {
  overflow: hidden;
}

.views {
  white-space: nowrap;
  width: 300%;
  transition: all 0.25s ease-in-out;
}
.view {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: (100% / 3);
}
