@import "typography";
@import "grid";

.view {
  display: none;
}

$sections: about contact articles article article-new;

@each $section in $sections {
  [data-view="#{$section}"] .view.#{$section} {
    display: block;
  }
}
