*,
*:before,
*:after {
  box-sizing: border-box;
}

@import "typography";
@import "grid";
@import "icons";
@import "visibility";
@import "spacing";
@import "views";
@import "form";
@import "../../common/components/Article/Article";
@import "../../common/components/Header/Header";
@import "../../common/components/Menu/Menu";
@import "../../common/components/NavBar/NavBar";
@import "../../common/components/Icons/Icons";
@import "../../common/components/MobileAnim/MobileAnim";

.app {
  margin-top: 110px;
  @media only screen and (min-width: $breakpoint-md) {
    margin-top: 120px;
  }
}
