@import "../../../client/sass/colours";

.menu {
  line-height: 1;
}

.menu__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  .menu--full & {
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: $color-cherry;
      height: 1px;
      width: 100%;
      top: 50%;
    }
  }
}

.menu__item {
  position: relative;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  .menu--full & {
    background-color: $color-white;
  }
}

.menu--full .menu__item-last {
  margin-left: auto;
  margin-right: 0;
  padding-left: 10px;
}

.menu__link {
  color: $color-white;
  position: relative;
  display: block;
  text-align: center;
  transition: color 0.3s;
  text-decoration: none;
  font-size: 1.05em;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media only screen and (min-width: $breakpoint-md) {
    color: $color-dark-gray;
    .header--inverted & {
      color: $color-white;
    }
  }
  .menu--full & {
    padding: 1em;
    color: #222222;
  }
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}

.menu__link:hover,
.menu__link:focus {
  color: #929292;
}

.menu__item--current .menu__link {
  color: $color-cherry-light;
  font-weight: bold;
  .menu--full & {
    font-weight: normal;
    color: $color-cherry;
  }
}

.menu--full {
  .menu__item::before,
  .menu__item::after,
  .menu__link::before,
  .menu__link::after {
    content: '';
    position: absolute;
    background: $color-cherry;
    transform-origin: 350% 350%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .menu__item::before,
  .menu__item::after {
    top: 0;
    width: 1px;
    height: 100%;
    transform: scale3d(1, 0, 1);
  }

  /* left line */
  .menu__item::before {
    left: 0;
    transition-delay: 0.05s;
  }

  /* right line */
  .menu__item::after {
    right: 0;
    transition-delay: 0.15s;
  }

  .menu__link::before,
  .menu__link::after {
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale3d(0, 1, 1);
  }

  /* top line */
  .menu__link::before {
    top: 0;
    transition-delay: 0.1s;
  }

  /* bottom line */
  .menu__link::after {
    bottom: 0;
  }

  .menu__item--current::before,
  .menu__item--current::after,
  .menu__item--current .menu__link::before,
  .menu__item--current .menu__link::after {
    transform: scale3d(1, 1, 1);
  }
}
