.navbar {
  display: none;
  @media only screen and (min-width: $breakpoint-md) {
    display: block;
    margin-bottom: 25px;
  }
}

.navbar__main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 25px;
  @media only screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }
}

.navbar__title {
  margin: 0 50px 0 0;
}

.navbar__logo {
  display: block;
  position: relative;
  bottom: -11px;
}

.navbar__byline {
  color: #999999;
  font-weight: bold;
  margin-top: 20px;
}
